$mainFontFamily: 'Verdana';

$background: #1c1b29;
$background-light: #282737;
$shadow: #11111d;
$text-color: #a8a9ae;

$dark: #14141e;
$primary: #aa1d1d;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;