$mainFontFamily: 'Iosevka Web';

$background: #1c1b29;
$background-light: #282737;
$shadow: #11111d;
$text-color: #fff;

$dark: #14141e;
$primary: #ff0054;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;