---
import "../styles/pages/contacts.scss";

type Link = { title: string; url: string };

import untypedData from "../assets/links.json";

const links: Link[] = untypedData;
---

<div class="container">
    <h1 class="container__header">Contacts:</h1>
    <nav class="container__body">
        <ul>
            {
                links.map((link) => (
                    <a
                        class="button"
                        href={link.url}
                        target="_blank"
                        rel="noopener"
                    >
                        {link.title}
                    </a>
                ))
            }
        </ul>
    </nav>
</div>
