---
import "../styles/pages/header.scss"
---

<a href="/" class="header">
	<img class="header__icon" src="favicon.png"/>
	<h1 class="header__title">Jagerente</h1>
	<p class="header__description">Quit? Don't quit? Noodles!</p>
</a>