@font-face {
    font-family: 'Iosevka Web';
    src: url('/fonts/iosevka-ss02-regular.woff2') format('woff2'),
         url('/fonts/iosevka-ss02-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}