---
import "../styles/components/hero-mini.scss";
---

<a href="/" class="hero-mini" aria-label="Back to home">
    <img class="hero-mini__logo" src="/favicon.png" alt="" />
    <span class="hero-mini__text">
        <span class="hero-mini__title">Jagerente</span>
        <span class="hero-mini__tagline">Quit? Don't quit? Noodles!</span>
    </span>
</a>
