---
import Layout from "../layouts/Layout.astro";
import "../styles/pages/404.scss";
---

<Layout>
    <div class="container">
        <div class="container__text">
            <p>There is nothing here.</p>
            <p>And will never be.</p>
            <p>Besides a cutie looking at kitty.</p>
        </div>
        <img src="/cutie.webp" alt="uwu" title="meow" />
    </div>
</Layout>
